@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Client")]
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Livraison";
  @model LivraisonViewModel
}
<div class="container">
  <h2 class="display-4">Livraison :</h2>
  <a class="btn btn-secondary" asp-controller="Home" asp-action="CreerLivraison">Créer une Livraison</a>
  <h2 class="display-4">En cours</h2>
  <div class="mb-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
        <th scope="col">Controle</th>
      </tr>
      </thead>
      <tbody>@foreach (var livraison in Model.LivraisonsEnAttente)
      {
        <tr>
          <td>@livraison.Contenu</td>
          <td>@livraison.StatutLivraison</td>
          <td>
            <a asp-controller="Home" asp-action="ModifierLivraison" asp-route-id="@livraison.ID" class="btn btn-primary">Modifier</a>
          </td>
        </tr>
      }</tbody>
    </table>
  </div>
  <h2 class="display-4">Historique</h2>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
      </tr>
      </thead>
      <tbody>@foreach (var livraison in Model.LivraisonsFini)
            {
              <tr>
                <td>@livraison.Contenu</td>
                <td>@livraison.StatutLivraison</td>
              </tr>
            }</tbody>
    </table>
  </div>
</div>
