@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [Authorize(Roles = "Client")]
@{
  Layout = "_Layout";  
    ViewData["Title"] = "Livraison";
  @model List<Livraison>
}
<div class="container">
  <h2 class="display-4">Livraison :</h2>
  <a class="btn btn-secondary" asp-controller="Home" asp-action="CreerLivraison">Créer une Livraison</a>
  <h2 class="display-4">Historique</h2>
  <div class="mb-5">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
        <th scope="col">Controle</th>
      </tr>
      </thead>
      <tbody>
      @RenderSection("ListLivraison")
      </tbody>
    </table>
  </div>
  <hr class="hr hr-blurry mb-5" />
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Identification</th>
        <th scope="col">État</th>
      </tr>
      </thead>
      <tbody>
      @RenderSection("ListLivreeLivraison")
      </tbody>
    </table>
  </div>
</div>


@section ListLivraison{
  @foreach (Livraison livraison in Model)/* in List<Livraison>*/
  {
    <tr>
      <th scope="row">Livraison @livraison.ID</th>
      @if(@livraison.StatutLivraison ==Livraison.Statut.Valide){
        <td><span class="badge rounded-pill bg-warning text-dark"> @livraison.StatutLivraison </span></td>
        <td></td>
      }
      else
      {
        <td><span class="badge rounded-pill bg-danger">En cours</span></td>
        <td><a class="btn btn-secondary btn-sm" asp-action=""/>Modifier</td>
      }
      <td></td>
    </tr>
  }
}

@section ListLivreeLivraison{
  @foreach (Livraison livraisonLivree in Model)
  {
    <tr>
      <th scope="row">Livraison @livraisonLivree.ID</th>
      <td><span class="badge rounded-pill bg-success">@livraisonLivree.StatutLivraison</span></td>
    </tr>
  }
}